<mat-toolbar color="primary" *ngIf="!loading">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Packets</span>
    <span class="example-spacer"></span>
    <div class="actionBar" *ngIf="!auth.loggedIn">
      <button mat-raised-button color="primary" (click)="googleSignUp()">Sign Up</button>
      <button mat-raised-button color="primary" (click)="googleSignUp()">Log In</button>
    </div>

    <div class="actionBar" *ngIf="auth.loggedIn">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="rightIcon">
        <ngx-avatar mat-card-avatar class="myAvatar" src={{photoURL}} class="avatar-header" size="40"> </ngx-avatar>
      </button>

      <mat-menu #menu="matMenu" class="rightIcon">
        <a mat-menu-item [routerLink]="['/profile']">
          <mat-icon>account_circle</mat-icon>
          <span>Profile</span>
        </a>
        <button mat-menu-item (click)="signOut()">
          <mat-icon>login</mat-icon>
          <span>Sign Out</span>
        </button>
      </mat-menu>
    </div>

</mat-toolbar>


<router-outlet *ngIf="!loading"></router-outlet>

<div class="spinnerStuff" *ngIf="loading">
  <mat-spinner></mat-spinner>
  <h1 class="loadingText">Loading....</h1>
</div>
