.button-container{
  right: 3%;
  bottom: 3%;
  position: absolute;
}

.content{
  align-items: center !important;
}


.packetCard{
  align-self: center;
}

.packets{
  margin-left: 5rem !important;
  margin-right: 5rem !important;
  margin:auto;
}
