<div class="main">
  <h1>My Packets</h1>
  <div class="packets">
    <div class="content" fxLayout="row wrap" fxLayoutGap="2rem grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let packet of profilePackets">
        <mat-card class="mat-elevation-z4 packetCard">
          <h1>{{packet.title}}</h1>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="button-container">
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="openFileDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
